@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;600&family=Roboto:ital,wght@0,100;1,300&family=Rubik:wght@600&display=swap');
:root {
  --primary: #00b98e;
  --secondary: #effdf5;
  --light: #effdf5;
  --dark: #0e2e50;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  /*Fonte: Heebo*/
}
section{
}
.header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header-logo a{
  font-size: 48px;
  text-decoration: none;
  color: var(--primary);
  font-weight: 800;
}
@media (max-width: 800px){
  .header-logo a{
    font-size: 32px;
  }
}
.header-menu nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header-menu nav ul li{
  list-style: none;
}
#header-home{
  color: var(--primary);
}
.header-menu nav ul li a{
  font-size: 24px;
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
}
@media (max-width: 800px){
  .header-menu nav ul li a{
    font-size: 18px;
  }
}
.main{
  display: flex;
  width: 100%;
}
.main-img{
  width: 50%;
}
.main-img figure img{
  width: 100%;
}
.main-texto{
  width: 50%;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-texto-h1{
  width: 80%;
}
.main-texto-h1 h1{
  font-size: 72px;
  font-weight: 800;
  color: var(--dark);
}
@media (max-width: 800px){
  .main-texto-h1 h1{
    font-size: 36px;
  }
}
.main-texto-h1 span{
  color: var(--primary);
}
.main-texto-p p{
  font-size: 20px;
}
@media (max-width: 800px){
  .main-texto-p p{
    font-size: 16px;
  }
}
.main-texto-btn a{
  background-color: var(--primary);
  padding: 20px 70px;
  border-radius: 8px;
  color: var(--light);
  font-size: 24px;
  text-decoration: none;

}
@media (max-width: 800px){
  .main-texto-btn a{
    font-size: 18px;
    padding: 15px 50px;
  }
}
.sec-titulo{
  text-align: center;
  padding: 50px;
}
.sec-titulo h2{
  color: var(--dark);
  font-size: 64px;
}
.sec-titulo p{
  font-size: 20px;
  margin-top: 20px;
}
@media (max-width: 800px){
  .sec-titulo h2{
    color: var(--dark);
    font-size: 32px;
  }
  .sec-titulo p{
    font-size: 16px;
    margin-top: 10px;
  }
}
.sec-1{
  padding: 30px 4%;
}
.sec-1-titulo{
  text-align: center;
  padding: 50px;
}
.sec-1-titulo h2{
  color: var(--dark);
  font-size: 64px;
  
}
.sec-1-titulo p{
  font-size: 20px;
  margin-top: 20px;
}
.sec-1-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}
.s1-card{
  width: 350px;
  height: 300px;
  background-color: var(--secondary);
  border-radius: 8px;
  padding: 20px;
}
.s1-card-conteudo{
  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.s1-card-header figure img{
  width: 60px;
}
.s1-card-body{
  text-align: center;
}
.s1-card-body h3{
  font-size: 24px;
  color: var(--dark);
}
.s1-card-body p{
  margin-top: 10px;
  color: var(--primary);
  font-size: 22px;
}
/* SEÇAO 2 */
.sec-2{
  padding: 30px 4%;
}
.sec-2-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
}
.s2-card{
  width: 550px;
  border: 1px solid red;
  border-radius: 8px;
  
}
.s2-card-header{
  width: 100%;
  
}
.s2-card-header figure img{
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.s2-card-body{
  margin: 20px;
}
.s2-card-body h3{
  color: var(--primary);
  font-size: 32px;
  font-weight: 800;
}
.s2-card-footer{
  margin: 0 20px;
}
.s2-card-footer h3{
  color: var(--dark);
  font-size: 32px;
  font-weight: 800;
}
.s2-card-footer p{
  margin: 10px 0 20px 0;
  font-size: 20px;
}
.sec-2-btn{
  text-align: center;
  padding: 60px 0 0 0;
}
.sec-2-btn a{
  border-radius: 8px;
  font-weight: 400;
  padding: 30px 70px;
  background-color: var(--primary);
  font-size: 24px;
  text-decoration: none;
  color: var(--secondary);
}
@media (max-width: 800px){
  .sec-2-btn a{
    padding: 15px 40px;
    font-size: 18px;
  }
}
/* SEÇAO 3 */
.sec-3{
  padding: 30px 4%;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form input{
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #808080;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
.form textarea{
  width: 100%;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  resize: none;
}
#btn-enviar{
  background-color: var(--primary);
  color: var(--light);
  text-align: center;
  padding: 0;
  border: none;
}
.form-1{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.form-1 input{
  width: 50%;
}
@media (max-width: 800px){
  .form input{
    font-size: 18px;
  }
  .form textarea{
    font-size: 16px;
  }
}
/* FOOTER */
.footer{
  margin-top: 30px;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.footer-titulo{
  color: var(--light);
  margin-bottom: 40px;
  font-size: 24px;
}
@media (max-width: 800px){
  .footer-titulo{
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .footer-links .links a{
    color: var(--light);
    text-decoration: none;
    font-size: 16px;
    margin: 0;
  }
  .footer-info .info p{
    color: white;
    font-size: 16px;
  }
}
.footer-info .info{
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
.footer-info .info figure img{
  width: 20px;
}
.footer-info .info p{
  color: white;
  font-size: 20px;
}
@media (max-width: 800px){
  .footer-info .info p{
    font-size: 16px;
  }
}
.footer-info .footer-social{
  margin: 20px 0;
  display: flex;
  gap: 10px;
}
.footer-info .footer-social figure img{
  width: 50px;
}
.footer-links .links{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.footer-links .links a{
  color: var(--light);
  text-decoration: none;
  font-size: 20px;
  margin: 5px 0;
}
@media (max-width: 800px){
  
  .footer-links .links a{
    font-size: 16px;
    margin: 5px;
  }
}
.seta-cima figure img{
  padding: 300px 0 0 0;
  width: 50px;
}
/**/
@media (max-width: 800px){
  .header{
    flex-direction: column;
  }
  .sec-titulo{
    font-size: 20px;
  }
  .main{
    flex-direction: column-reverse;
  }
  .main-img{
    width: 100%;
  }
  .main-img figure img{
    width: 100%;
  }
  .main-texto{
    width: 100%;
    text-align: center;
  }
  .main-texto-h1{
    width: 100%;
  }
  .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-info .footer-social{
    justify-content: center;
    align-items: center;
  }
  .footer-info .info{
    display: flex;
    gap: 10px;
    padding: 5px;
  }
  .seta-cima figure img{
    padding: 0;
    width: 50px;
  }
}